In [6]:
import seaborn as sns
import pandas as pd
# Import + clean dataset titanic from seaborn
df_titanic = sns.load_dataset("titanic")
df_titanic = df_titanic.drop(columns=["class","who","adult_male","deck","embark_town","alive","alone"])
df_titanic.dropna(inplace=True)
df_titanic = df_titanic.convert_dtypes()

df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  712 non-null    Int64
 1   pclass    712 non-null    Int64
 2   sex       712 non-null    string
 3   age       712 non-null    Float64
 4   sibsp     712 non-null    Int64
 5   parch     712 non-null    Int64
 6   fare      712 non-null    Float64
 7   embarked  712 non-null    string
dtypes: Float64(2), Int64(4), string(2)
memory usage: 54.2 KB